.burger-menu {
  margin: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  z-index: 20;
  position: absolute;
  top: 10%;
  left: 10px;
  gap: 4px;
  flex-direction: column;
  transition: transform 0.1s ease;
}

.burger-menu:active {
  transform: scale(0.96); /* или 0.98 */
}

.burger-menu img {
  width: 50px;
  height: 30px;
}

.burger-container {
  position: absolute;
  top: 0;
  height: 100%;
}

.burger-menu > span {
  width: 50px;
  height: 8px;
  border-radius: 10px;
  background-color: #ff9800;
  box-shadow: 2px 2px 0px 0px rgba(255, 111, 97, 1);
}

.menu {
  position: fixed;
  top: 0;
  left: -60%;
  width: 60%;
  max-width: 300px;
  height: 100vh;
  background: #963736;
  color: white;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
  transition: left 0.3s ease-in-out;
  padding: 20px;
  padding-top: 200px;
  z-index: 15;

  border-right: #ff9800 5px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu.open {
  left: 0;
  /* box-shadow: 250px 0px 50px 0px rgba(0, 0, 0, 0.3); */
  transition: 0.5s all;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 20px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-ad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menu-ad > span {
  color: #ff9800;
  font-size: 19px;
}

.menu-img {
  width: 30px;
  height: 30px;
}
