.suggest-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
}

.suggest-list li {
  padding: 10px;
  cursor: pointer;
}

.suggest-list li:hover {
  background: #f1f1f1;
}
